# Virtual environment
backend/venv/

# Python cache files
__pycache__/
*.py[cod]
*.so

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Node modules (for frontend)
frontend/node_modules/

# Excel temp files
~$*.xlsx

# Vim temporary files
*.swp


# System file
*.DS_Store
